<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>회원가입 임시 구현</title>
</head>
<body>
<h1>회원가입 (임시)</h1>
<form action="/register" method="post">
    <input type="email" name="email" required placeholder="Email" />
    <input type="text" name="name" required placeholder="Name" />
    <input type="password" name="password" required placeholder="Password" />
    <button type="submit">Register</button>
</form>
<div th:if="${registerError}" style="color: red;">
    <p th:text="${registerError}"></p>
</div>
<div th:if="${registerSuccess}" style="color: green;">
    <p th:text="${registerSuccess}"></p>
</div>
<br>
<a href="/login">로그인</a>
</body>
</html>